@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans'
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #2d414b;
}

body {
    background: linear-gradient(#2d414b,#718f9e);
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title{
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #F2C14E;
    font-family: 'Playpen Sans'
}

.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 50px;
}

.board .dropBox {
    position: relative;
    width: 140px;
    height: 140px;
    border-right: 4px solid #F2C14E;
    border-bottom: 4px solid #F2C14E;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .dropBox:nth-child(3),
.board .dropBox:nth-child(6),
.board .dropBox:nth-child(9)
{
    border-right: none;
}

.board .dropBox:nth-child(7),
.board .dropBox:nth-child(8),
.board .dropBox:nth-child(9)
{
    border-bottom: none;
}

.board .dropBox div {
    scale: 1.5;
}

.drag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 100px;
    gap: 10px;
    margin: 0 40px;
    cursor: grab;
}

.drag .dragBox{
    padding: 15px;
    background: rgba(255, 255, 255, 0.14);
}

.cross {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #fff;
    transform: rotate(45deg);
}

.cross::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #fff;
    transform: rotate(45deg);
}

.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.reset {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 25px;
    border: none;
    outline: none;
    background: #F2C14E;
    font-size: 2em;
    cursor: pointer;
    border-radius: 18px;
}
